@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --main-color: #F4D04E;
    --p-color: (0, 0%, 42%);
    --p-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Figtree", serif;
}

body {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 20px;
}

.card {
    background-color: #ffffff;
    max-width: 385px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 10px 10px 0px;

}

img {
    border-radius: 10px;
    width: 100%;
}

.body-card {
    margin-top: 20px;
}

.body-card button {
    background-color: var(--main-color);
    font-weight: 800;
    font-size: var(--p-size);
    padding: 4px 12px;
    border: none;
    border-radius: 5px;
}

.date-p {
    padding: 12px 0px;
    font-size: 14px;
    font-weight: 600;
}

h1 {
    font-weight: 800;
    font-size: 25px;
}

h1:hover{
    color: var(--main-color);
}

.text-card {
    color: var(--p-color);
    font-size: var(--p-size);
    padding: 12px 0px 25px 0px;
    font-weight: 400;
    line-height: 1.5;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user h4 {
    font-weight: 800;
}

.user img {
    width: 32px;
}

@media (max-width: 440px) {
    

    .card{
        margin: 20px;
    }
}
